# Environment variables
.env

# Virtual environments
venv/
.venv/
.mlflow-lab-3.11

data/requirements.txt

# MLflow tracking data
mlruns/
mlartifacts/
mlflow.db

logs/
*.log

.DS_Store

# setuptools
*.egg-info/

# python
__pycache__/
*.pyc